.confirm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 689px;
  &__header {
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 76px;
    color: $black-text;
    margin: 139px 0 16px 0;
    @media (max-width: 600px) {
      width: 272px;
      font-size: 32px;
      line-height: 44px;
      margin: 100px 0 8px 0;
    }
  }
  &__info {
    font-size: 16px;
    line-height: 30px;
    color: $grey-text;
    max-width: 562px;
    margin-bottom: 20px;
    @media (max-width: 600px) {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 20px;
    }
  }
  &__submit {
    background: $blue-text;
    border-radius: 64px;
    height: 64px;
    width: 354px;
    margin: 20px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    color: #FFFFFF;
    @media (max-width: 600px) {
      width: 343px;
      height: 56px;
    }
  }
  &__not-come {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: $blue-text;
    margin-top: 4px;
  }
}