
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-style: normal;
  font-size: 14px;
  margin-bottom: 24px;
  img {
    width: 143px;
    height: 20px;
    @media (max-width: 600px) {
      width: 114px;
      height: 16px;
      margin: 18px 0;
    }
  }
  span {
    line-height: 20px;
    font-weight: normal;
    color: #999999;
    @media (max-width: 600px) {
      display: none;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__button {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 51px;
    background: #4E74F5;
    border-radius: 100px;
    margin-left: 24px;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    cursor: pointer;
    @media (max-width: 600px) {
      width: 113px;
      height: 40px;
      font-size: 12px;
      line-height: 13px;
    }
  }
  &__link {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
  }
}
