.login {
  @extend %form-shared;
  &__header {
    margin: 38px 0 0 0;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 76px;
    color: #000000;
    @media (max-width: 600px) {
      font-size: 40px;
      line-height: 54px;
      margin: 0 0 8px 0;
    }
  }
  &__greeting {
    margin: 16px 0 16px 0;
    font-size: 16px;
    line-height: 20px;
    color: #999999;
    @media (max-width: 600px) {
      margin: 0 0 24px 0;
      font-size: 14px;
      line-height: 24px;
    }
  }
  &__button-img {
    margin: 0 12px;
  }
  &__buttons {
    @extend %buttons-shared;
  }
  &__or {
    margin: 12px 0;
    font-size: 16px;
    line-height: 30px;
    color: #999999;
    height: 30px;
    @media (max-width: 600px) {
      margin: 0;
    }
  }
  input {
    @extend %input-shared;
  }
  input:focus {
    outline: none;
    border: 1px solid #4E74F5;
  }
  input::placeholder {
    @extend %input-placeholder-shared;
  }
  &__submit {
    @extend %submit-button-shared;
  }
  &__forget {
    width: 130px;
    text-decoration: none;
    margin: 0 auto;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #4E74F5;
  }
}